git+https://github.com/huggingface/transformers.git
wandb
datasets
sentencepiece
pytorch-lightning
Pillow
# torch-neuron==1.11.0.2.3.0.0
# neuron-cc[tensorflow]
# protobuf
# torchvision
# torch_xla[tpuvm]
